# **Machine Learning Pipeline**  
### *An Implementation of Financial Distress Prediction*

*Yeol Ye   
University of Chicago  
ziyuye@uchicago.edu*

## Phase 1: Data Preparation

In [1]:
import os
import sys
sys.path.append('../code/')

import prep
import pandas as pd

In [14]:
data_file = 'credit-data.csv'
df_file = 'df.pkl'
dict_file='Data Dictionary.xls'

prep.data_transforming(data_file, df_file, dict_file='Data Dictionary.xls')
df = prep.data_loading(df_file)

In [30]:
df.head()

,PersonID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,zipcode,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,98976,0,1.000000,55,60601,0,505.000000,0.0,2,0,0,0,0
1,98991,0,0.547745,71,60601,0,0.459565,15666.0,7,0,2,0,0
2,99012,0,0.044280,51,60601,0,0.014520,4200.0,5,0,0,0,0
3,99023,0,0.914249,55,60601,4,0.794875,9052.0,12,0,3,0,0
4,99027,0,0.026599,45,60601,0,0.049966,10406.0,4,0,0,0,2

In [31]:
df.describe()

,PersonID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,41016.000000,41016.000000,41016.00000,41016.000000,41016.000000,41016.000000,4.101600e+04,41016.000000,41016.000000,41016.000000,41016.000000,41016.000000
mean,115800.154598,0.161400,6.37587,51.683489,0.589233,331.458137,6.320623e+03,8.403477,0.419592,1.008801,0.371587,0.753681
std,28112.723511,0.367904,221.61895,14.746880,5.205628,1296.109695,1.208056e+04,5.207324,5.190382,1.153826,5.169641,1.113639
min,22.000000,0.000000,0.00000,21.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,106539.750000,0.000000,0.03431,41.000000,0.000000,0.176375,3.800000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,119901.500000,0.000000,0.18973,51.000000,0.000000,0.369736,5.250000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,134698.250000,0.000000,0.66716,62.000000,0.000000,0.866471,7.245500e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,149999.000000,1.000000,22000.00000,109.000000,98.000000,106885.000000,1.794060e+06,56.000000,98.000000,32.000000,98.000000,13.000000

## Phase 2: Data Exploration